<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ podcast.title }}</title>
    <link>{{ podcast.siteUrl }}</link>
    <language>{{ podcast.language }}</language>
    <copyright>{{ podcast.copyright }}</copyright>
    <itunes:author>{{ podcast.author }}</itunes:author>
    <itunes:summary>{{ podcast.description }}</itunes:summary>
    <description>{{ podcast.description }}</description>
    <itunes:type>episodic</itunes:type>
    <itunes:owner>
      <itunes:name>{{ podcast.owner.name }}</itunes:name>
      <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ podcast.siteUrl }}{{ podcast.imagePath }}"/>
    <itunes:category text="{{ podcast.category }}">
      {% if podcast.subcategory %}
      <itunes:category text="{{ podcast.subcategory }}"/>
      {% endif %}
    </itunes:category>
    <itunes:explicit>{{ podcast.explicit }}</itunes:explicit>

    {%- for episode in collections.episodes %}
    <item>
      <title>{{ episode.data.title }}</title>
      <itunes:title>{{ episode.data.title }}</itunes:title>
      <description>{{ episode.data.description }}</description>
      <itunes:summary>{{ episode.data.description }}</itunes:summary>
      {% if episode.data.content %}
      <content:encoded><![CDATA[{{ episode.data.content | safe }}]]></content:encoded>
      {% endif %}
      <enclosure
        url="{{ episode.data.episode.filename | episodeUrl(podcast) }}"
        type="audio/mpeg"
        length="{{ episode.data.episode.filesize or 0 }}"
      />
      <guid isPermaLink="false">{{ episode.url | absoluteUrl(podcast.siteUrl) }}</guid>
      <pubDate>{{ episode.date | podcastDate }}</pubDate>
      <itunes:duration>{{ episode.data.episode.duration or "00:00:00" }}</itunes:duration>
      <itunes:explicit>{{ episode.data.explicit or podcast.explicit }}</itunes:explicit>
      <link>{{ episode.url | absoluteUrl(podcast.siteUrl) }}</link>
    </item>
    {%- endfor %}
  </channel>
</rss>