<script src="{{ '/assets/js/bundle.js' | url }}?v={{ cacheBust }}" defer></script>
<script defer data-domain="higheredhottakes.com" src="https://plausible.io/js/script.file-downloads.outbound-links.pageview-props.tagged-events.js"></script>