<script src="{{ '/assets/js/bundle.js' | url }}?v={{ cacheBust }}" defer></script>
<!-- Privacy-friendly analytics via self-hosted Umami (analytics.joelgoodman.co). -->
<script defer src="https://analytics.joelgoodman.co/script.js" data-website-id="e6143d17-d18a-4e38-a6e8-5fd2d7027a53" data-performance="true" data-domains="higheredhottakes.com"></script>