---
layout: layouts/base.njk
pageType: episode
---

{% set isEpisodePage = true %}

{# Always construct the episode object with url for component compatibility #}
{% set episode = {
  url: page.url,
  title: title,
  date: date,
  number: number,
  audio: audio,
  description: description,
  transcript: transcript,
  cover: cover
} %}

{% include "../../_components/episode.njk" %}