---
layout: layouts/base.njk
---

{% set isEpisodePage = true %}
<article class="episode h-entry" itemscope itemtype="http://schema.org/PodcastEpisode">
  <script type="application/ld+json">
    {{ {
      "@context": "https://schema.org",
      "@type": "PodcastEpisode",
      "name": title,
      "datePublished": date,
      "episodeNumber": number,
      "duration": audio?.duration,
      "description": description,
      "url": url,
      "partOfSeries": {
        "@type": "PodcastSeries",
        "name": podcast?.title,
        "url": podcast?.siteUrl
      }
    } | json | safe }}
  </script>

  {% set episode = {
    "url": url,
    "title": title,
    "date": date,
    "number": number,
    "duration": audio?.duration,
    "description": description,
    "transcript": transcript,
    "cover": {
      "image": cover.image
    }
  } %}
  {% include "../../_components/episode.njk" %}
</article>

<script>
class EpisodeLayout extends HTMLElement {
  constructor() {
    super();
  }
}

customElements.define('episode-layout', EpisodeLayout);
</script>