---
layout: layouts/page.njk
title: Episodes
---

<h1>Episodes</h1>
<ul class="episode-list-panel__list" role="list">
  {% for ep in collections.episodes %}
  <li>
    <a href="{{ ep.url }}" class="episode-list-panel__item">
      <span class="episode-list-panel__num">{{ ep.data.number | padStart(3, '0') }}</span>
      <span class="episode-list-panel__name">{{ ep.data.title }}</span>
      <span class="episode-list-panel__dur">{{ ep.data.audio.duration | durationHuman }}</span>
    </a>
  </li>
  {% endfor %}
</ul>