---
layout: layouts/base.njk
title: Higher Ed Hot Takes with Joel G Goodman
permalink: /
---
{% set episodeItem = collections.episodes[0] %}
{% set episodeData = episodeItem.data %}
{% set episode = {
  url: episodeItem.url,
  title: episodeData.title,
  date: episodeData.date,
  number: episodeData.number,
  audio: episodeData.audio,
  description: episodeData.description,
  transcript: episodeData.transcript,
  cover: episodeData.cover
} %}
{% set isEpisodePage = false %}
{% include "./_components/episode.njk" %}