---
layout: layouts/base.njk
title: Higher Ed Hot Takes with Joel G Goodman
permalink: /
---
{% set episodeItem = episodes.latest(collections) %}
{% set episodeData = episodeItem.data %}
{% set episode = {
  url: episodeItem.url,
  title: episodeData.title,
  date: episodeData.date,
  number: episodeData.number,
  audio: episodeData.audio,
  description: episodeData.description,
  transcript: episodeData.transcript,
  cover: episodeData.cover
} %}
<div class="latest-episode-content">
  {% set isEpisodePage = false %}
  {% include "./_components/episode.njk" %}
</div>