  <div class="audio-player persistent-player"
    data-episode-id="{{ currentEpisode.number }}"
    data-title="{{ currentEpisode.title | escape }}"
    data-src="{{ currentEpisode.audio.filename }}"
    data-duration="{{ currentEpisode.audio.duration }}"
    data-cover="{{ currentEpisode.cover.image }}"
    data-description="{{ currentEpisode.description | escape }}"
    data-is-playing="false"
    data-playback-speed="1"
    data-progress="0"
    data-current-time="0:00"
    data-status="Ready"
    data-loading="true"
    aria-live="polite"
    aria-label="Podcast player"
    role="region">
  <div class="audio-player__controls">
    <button class="audio-player__button audio-player__button--play-pause plausible-event-name=Play" aria-label="Play">
      <span class="audio-player__icon audio-player__icon--play">
        {% include '../assets/svg/play.svg' %}
        <span class="sr-only">Play</span>
      </span>
      <span class="audio-player__icon audio-player__icon--pause">
        {% include '../assets/svg/pause.svg' %}
        <span class="sr-only">Pause</span>
      </span>
      <span class="audio-player__loading-spinner">
        <span class="sr-only">Loading</span>
      </span>
    </button>
    <button class="audio-player__button audio-player__button--skip-back" aria-label="Skip back 10 seconds">
      {% include '../assets/svg/icon-skip-back.svg' %}
    </button>
    <button class="audio-player__button audio-player__button--speed" aria-label="Change playback speed"><span class="rate">1</span>x</button>
  </div>
  <div class="audio-player__progress">
    <input type="range"
           class="audio-player__progress-bar"
           min="0" max="100" value="0"
           step="0.1"
           aria-label="Audio progress"
           aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"
           role="slider">
  </div>
  <div class="audio-player__time">
    <span class="audio-player__current-time">0:00</span> /
    <span class="audio-player__duration">
      {%- set episodeDuration = currentEpisode.audio.duration or currentEpisode.duration -%}
      {%- if episodeDuration -%}
        {{ episodeDuration | formatDuration }}
      {%- else -%}
        0:00
      {%- endif -%}
    </span>
  </div>
  {% if loading %}
    <div class="audio-player__loading">
      <div class="audio-player__loading-spinner"></div>
    </div>
  {% endif %}
</div>