<section class="episode" role="article">
    {% if episode.cover.image %}
        <figure class="episode-cover">
            <img
                src="{{ episode.cover.image }}"
                srcset="{{ episode.cover.image }} 500w, {{ episode.cover.image }} 1000w, {{ episode.cover.image }} 1500w"
                sizes="(max-width: 500px) 100vw, 500px"
                alt="{{ episode.title }} cover art"
                loading="lazy"
                decoding="async"
            />
        </figure>
    {% endif %}
    <article id="episode-content">
        <header class="episode-header">
            <p class="episode-number">{%- if not isEpisodePage -%}<span>Latest / </span>{%- endif -%}<span>Episode {{ episode.number | padStart(3, '0') }}</span></p>
            {% if isEpisodePage %}
            <h1 class="episode-title">
                <a href="{{ episode.url }}">{{ episode.title }}</a>
            </h1>
            {% else %}
            <h2 class="episode-title">
                <a href="{{ episode.url }}">{{ episode.title }}</a>
            </h2>
            {% endif %}
            <div class="episode-meta">
                Released <time datetime="{{ episode.date }}">{{ episode.date | readableDate }}</time> /
                {% if episode.audio.duration %}
                    <span class="episode-duration">Duration: {{ episode.audio.duration | formatDuration }}</span>
                {% endif %}
            </div>
        </header>
        <div class="episode-content">
            <p class="episode-description">{{ episode.description }}</p>
        </div>
    </article>
</section>