<section class="rfi">
    <figure class="episode-cover">
        <img src="{{ podcast.image.url }}" alt="{{ podcast.image.title }}" />
    </figure>
    {% include "./newsletter-form.njk" %}
</section>