<header class="toolbar">
  <nav class="site-nav" role="navigation" aria-label="Main navigation">
    <a href="/" class="site-logo">
      {% include '../assets/svg/heht-logo.svg' %}
    </a>
  </nav>
</header>