<nav class="subscribe-bar">
  {% for platform, url in podcast.subscribe %}
    {% if url %}
      <a href="{{ url }}" class="subscribe-bar__link" title="Subscribe on {{ platform | capitalize }}">
          {% if platform == 'apple' %}
            {% include '../assets/svg/apple-podcasts.svg' %}
          {% elif platform == 'spotify' %}
            {% include '../assets/svg/logo-spotify.svg' %}
          {% elif platform == 'youtube' %}
            {% include '../assets/svg/yt-music.svg' %}
          {% elif platform == 'overcast' %}
            {% include '../assets/svg/overcast.svg' %}
          {% elif platform == 'rss' %}
            {% include '../assets/svg/logo-rss.svg' %}
          {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</nav>